@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,900&family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Nunito:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,900&family=Raleway:wght@100;400&family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&family=Nunito:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,900&family=Raleway:wght@100;400&family=Rowdies&display=swap');


* {
    margin: 0%;
    padding: 0%;
}
/******************* section1-about Start *******************/
#section1-product{
    background-image: url(images/bg-5.jpg);
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
}
#section1-product .overlay {
    background: rgba(0, 0, 0, .5);
    height: 70vh;
}
/******************* section1-about Header Start *******************/
.header .logo img {
    width: 80px;
    margin: 0;
    padding: 0;
}
.nav-active{
    background-color: #303642 !important;
}

/* .nav-link {
    color: whitesmoke !important;
} */
.header ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.header ul li a:hover {
    color: white;
}

.header ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(9, 179, 170);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.header ul li:hover::after {
    width: 100%;
}

.header button {
    color: #00A79D;
}

.header .navbar-toggler-icon {
    color: #00A79D;
}
.olx-icon{
  position: absolute;
  bottom: 10%;
  right: 5%;
  position: fixed;
} 
/******************* section1-about Header End *******************/


/******************* section1-about Home Start *******************/
#section1-product .home {
    font-family: 'Playfair Display', serif;
    color: white;
    width: 50%;
    position: absolute;
    top: 30%;
    left: 30%;
}
.ml5 {
    position: relative;
    font-weight: 300;
    font-size: 5.5em;
    /* color: #402d2d; */
  }
  
  .ml5 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
    line-height: 1em;
  }
  
  .ml5 .line {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 10px;
    width: 100%;
    background-color: #00A79D;
    transform-origin: 0.5 0;
  }
  
  .ml5 .ampersand {
    /* font-family: Baskerville, serif; */
    font-style: italic;
    font-weight: 400;
    width: 1em;
    margin-right: -0.1em;
    margin-left: -0.1em;
  }
  
  .ml5 .letters {
    display: inline-block;
    opacity: 0;
  }
/******************* section1-about Home End *******************/
/******************* section1-about End *******************/    



/******************* section2-product Start *******************/    
#section2-product {
    background-color: #00A79D;
    /* background-color: #303642; */
    /* position: relative; */
}

#section2-product .supply-text h1{
    background: linear-gradient(to right, #00A79D, #00A79D, #303642, #303642);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
}
#section2-product .supply-text{
    /* width: 50%;
    text-align: center;
    margin-left: 25%; */
}
#section2-product .supply-text p{
    color: #303642;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

#section2-product  .product-img {
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    /* margin-bottom: 20px; */
    margin: 0%;
    margin-left: 0%;
    color: white;
    position: relative;
    /* margin-top: 10px; */
}

#section2-product  .product-img img {
    width: 100%;
}

#section2-product  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #303642);
    opacity: 0;
    transition: 1s;
}

#section2-product 
.product-img:hover .overlay {
    opacity: 1;
}

#section2-product  .product-desc {
    width: 80%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    opacity: 0;
    transition: 1s;
    transform: translateX(-50%);
}
#section2-product  .product-desc button{
padding: 15px;
    letter-spacing: 5px;
    background: transparent;
    border: 2px solid #00A79D;
    font-weight: bold;
    color: #00A79D;
    width: 250px;
}
#section2-product  .product-desc button:hover{
    background-color: #00A79D;
    color: white;
    transition: 1s;
}
/* #section2-product .power-supply hr {
    background: #fff;
    height: 5px;
    border: 0;
    margin: 15px auto;
    width: 100%;
} */

#section2-product  .product-img:hover .product-desc {
    bottom: 45%;
    opacity: 1;
}

/* Tab */
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  /* body {
    padding: 0;
    margin: 0;
  } */
  
  .tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    font-weight: bold;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
  }
  
  .tab.active {
    color: #303642 !important;
    border-bottom: 2px solid #303642;
  }
  
  .tab:hover {
    border-bottom: 2px solid #303642;
    transition: 1s;
  }

  
/* Tab */
/******************* section2-product End *******************/    

/******************* About footer Start *******************/
.footer{
    background-color: #303642;
    height: 270px;
    margin-top: 0;
}
.footer .footer-img img{
     width: 20%;
}
.footer .footer-icon span{
      color: #00A79D;
      font-size: 30px;
      padding: 10px;
}
/******************* About footer End *******************/













@media screen and (max-width: 770px){
    #section1-product .home {
        font-family: 'Playfair Display', serif;
        color: white;
        width: 80%;
        position: absolute;
        top: 40%;
        left: 15%;
    }
    .ml5 {
        position: relative;
        font-weight: 300;
        font-size: 2.5em;
        /* color: #402d2d; */
      }
      .ml5 .line {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 2px;
        width: 100%;
        background-color: #00A79D;
        transform-origin: 0.5 0;
      }


      #section2-product .supply-text h1 {
        background: linear-gradient(to right, #00A79D, #303642, #303642, #303642);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-family: 'Playfair Display', serif;
        font-size: 35px;
    }
    
    #section2-product .supply-text p {
        color: gray;
        font-size: 16px;
        font-family: 'Raleway', sans-serif;
    }
    .tab {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        margin-left: 5px;
      }
      .tab.active {
        color: #303642;
        border-bottom: 2px solid #303642;
        width: 40%;
      }
      .tab:hover {
        border-bottom: 2px solid #303642;
        width: 40%;
        transition: 1s;
      }
    .tabs {
        /* display:block; */
        
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: whitesmoke;
        font-weight: bold;
        width: 100% !important;
      }
    .footer{
        background-color: #303642;
        height: 300px;
    }
    .footer .footer-img img{
         width: 90%;
    }
    .footer .footer-icon span{
          color: #00A79D;
          font-size: 30px;
          padding: 10px;
    }
    
   
    }